<div>
    <div
        data-dojo-type="Sds/Common/Dialog"
        title = "Forgot Password"
        class = "form-horizontal"
        data-dojo-attach-point="dialogNode"
    >
        <div>Please enter your registered user name or email. A change password link will be sent to you.</div>
        <br />

        <div
            data-dojo-type="Sds/Form/ValidationControlGroup"
            data-dojo-props="
                name: 'identifier',
                validator: 'Sds/IdentityModule/Validator/ForgotCredentialCreateToken'
            "
        >
            <input
                data-dojo-type="Sds/IdentityModule/DataModel/Identity/IdentityName/Input"
                data-dojo-props="validator: ['NotRequired', 'Identifier']"
            />
            <input
                data-dojo-type="Sds/IdentityModule/DataModel/Identity/Email/Input"
                data-dojo-props="validator: ['NotRequired', 'EmailAddress']"
            />
        </div>
    </div>
</div>
