<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./selenium/bootstrap.php"
    colors="true"
    backupGlobals="false"
>
    <testsuites>
        <testsuite name="Sds Dojo Functional Test Suite">
            <directory>./selenium/Sds/</directory>
        </testsuite>
    </testsuites>
</phpunit>
