<?php

/*
 * If you are using Sds\DojoModule for zf2 to manage your dojo builds,
 * add this file to your config/autoload
 */

return array(
    'sds' => array(
        'dojo' => array(
            'build' => array(
                'packages' => array(
                    'Sds' => 'vendor/dojo/Sds'
                ),
                'plugins' => array(
                    'Sds/ConfigManager/ConfigReady' => 'Sds/Build/Plugin/ConfigReady',
                    'Sds/ServiceManager/SharedServiceManager' => 'Sds/Build/Plugin/SharedServiceManager',
                    'Sds/ServiceManager/Shared/GetObject' => 'Sds/Build/Plugin/CreateObject',
                    'Sds/ServiceManager/Shared/CreateObject' => 'Sds/Build/Plugin/CreateObject'
                ),
            ),  
        ),
    ),
);