<div>
    <div
        data-dojo-type="Sds/Widget/Dialog"
        title = "Change Password"
        class = "form-horizontal"
        data-dojo-attach-point="dialogNode"
    >
        <div>Please enter your new password.</div>
        <br />

        <div
            data-dojo-type="Sds/Form/ValidationControlGroup"
            data-dojo-props="
                name: 'credentials',
                validator: 'Sds/IdentityModule/Validator/CredentialMatch'
            "
        >
            <input
                data-dojo-type="Sds/IdentityModule/DataModel/Identity/Credential/Input"
                data-dojo-props="label: 'New Password:'"
            />
            <input
                data-dojo-type="Sds/IdentityModule/DataModel/Identity/Credential/Input"
                data-dojo-props="label: 'New Password again:'"
            />
        </div>
    </div>
</div>

