<div data-dojo-attach-point="containerNode" class="control-group">     
    <select data-dojo-type="Sds/Common/Form/Select" 
        name="expiryMonth"
        data-dojo-props="
        label: 'Expiry Month',
        name: 'month',
        sortByLabel: false,
        focusNodeClass: 'span12'"
    >
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <select data-dojo-type="Sds/Common/Form/Select" 
        name="expiryYear"
        data-dojo-props="
        label: 'Expiry Year',
        name: 'year',
        sortByLabel: false,
        focusNodeClass: 'span12'"
    >
        <option value="2013">13</option>
        <option value="2014">14</option>
        <option value="2015">15</option>
        <option value="2016">16</option>
        <option value="2017">17</option>
        <option value="2018">18</option>
        <option value="2019">19</option>
        <option value="2020">20</option>
        <option value="2021">21</option>
        <option value="2022">22</option>
    </select>
</div>