<div class="control-group">
    <div class="controls">
        <div data-dojo-attach-point="appendagesWrapper">
            <input type="text" id="${id}" value="${value}" data-dojo-attach-point="textbox, focusNode">
            <span class="help-inline hide" data-dojo-attach-point="inlineMessageWrapper"><small data-dojo-attach-point="inlineMessage"></small></span>
            <span class="help-block hide" data-dojo-attach-point="blockMessageWrapper"><small data-dojo-attach-point="blockMessage"></small></span>
        </div>
    </div>
</div>
