<div>
    <div
        data-dojo-type="Sds/Widget/Dialog"
        title = "Please login"
        data-dojo-attach-point="dialogNode"
    >
        <div>In order to access the requesed data you must login.</div>
        <br />
        <input data-dojo-type="Sds/IdentityModule/DataModel/Identity/IdentityName/Input" />
        <input data-dojo-type="Sds/IdentityModule/DataModel/Identity/Credential/Input" />
        <input
            data-dojo-type="Sds/Form/CheckBox" data-dojo-attach-point="rememberMe"
            data-dojo-props="
                name     : 'rememberMe',
                label    : 'Remember me:'
            "
        />
        <a href="${forgotCredentialRoute}" data-dojo-attach-event="ondijitclick: onForgotCredentialClick">Forgot Password?</a>
        <a href="${registerRoute}" data-dojo-attach-event="ondijitclick: onRegisterClick">Register</a>
    </div>
</div>
