<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Functional Testing Sds/IdentityModule/View/CreateIdentity</title>
		<style type="text/css">
            @import "../../../../themes/bootstrap/css/bootstrap.css";
            @import "../../../../themes/bootstrap/css/bootstrap-responsive.css";
		</style>
        <script type="text/javascript" src="../../../testconfig.js"></script>
        <script type="text/javascript">
            dojoConfig.mergeConfigs.push('TestCreateIdentity/config');
        </script>
        <script type="text/javascript" src="../../../../../dojo/dojo.js"></script>
		<script type="text/javascript">

            define('TestCreateIdentity/config', [], function(){
                return {
                    moduleManager: {
                        'Sds/Store/storeManager': {
                            gets: {
                                stores: [
                                    'Sds/Test/IdentityModule/Functional/View/Asset/MockIdentityStore'
                                ]
                            }
                        }
                    }
                }
            });

			require([
                'dojo/on',
                'dojo/dom',
                'dojo/dom-prop',
                'dojo/json',
                'get!Sds/IdentityModule/View/CreateIdentity',
                'dojo/domReady!',
                'Sds/ConfigManager/ConfigReady!'
            ],
            function(
                on,
                dom,
                domProp,
                json,
                createIdentityView
            ){
                domProp.set(dom.byId('formActivateButton'), 'disabled', false);

                on(dom.byId('formActivateButton'), 'click', function(){
                    createIdentityView.activate().then(function(result){
                        dom.byId('ViewValue').innerHTML = json.stringify(result, null, '    ');
                    });
                });
            })
		</script>
	</head>
	<body>
        <h1>Functional Testing Sds/IdentityModule/View/CreateIdentity</h1>
        <br />
        <button class="btn btn-primary btn-large" disabled="true" id="formActivateButton">Activate</button>
        <h3>ViewValue</h3>
        <pre id="ViewValue"></pre>
	</body>
</html>
