<div class="registerDialog">
    <div data-dojo-type="sds.Dialog" title = "'User registration'" data-dojo-attach-point="registerDialogNode">
        <div class="dialogMessage">
            <div>Please enter your details.</div>
            <br />
            <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1">
                <input 
                    data-dojo-type="dijit.form.ValidationTextBox" 
                    name="username" 
                    title="Username:" 
                    data-dojo-props="regExp:'[a-zA-Z0-9]{3,}', required: true"        
                />
                <input 
                    data-dojo-type="dijit.form.ValidationTextBox" 
                    name="email" 
                    title="Email:" 
                    data-dojo-props="regExpGen: dojox.validate.regexp.emailAddress, required: true"
                />
            </div>          
        </div>
    </div>
</div>
