<div>
    <div
        data-dojo-type="Sds/Common/ValidationDialog"
        title = "Forgot Password"
        class = "form-horizontal"
        data-dojo-attach-point="dialogNode"
        data-dojo-props="validator: 'Sds/IdentityModule/Validator/ForgotCredentialPart1Validator'"
    >
        <div>Please enter your registered user name or email. A change password link will be sent to you.</div>
        <br />
        <input
            data-dojo-type="Sds/IdentityModule/DataModel/Identity/IdentityName/Input"
            data-dojo-props="validator: ['notRequiredValidator', 'identifierValidator']"
        />
        <input
            data-dojo-type="Sds/IdentityModule/DataModel/Identity/Email/Input"
            data-dojo-props="validator: ['notRequiredValidator', 'emailAddressValidator']"
        />
    </div>
</div>
