<div>
    <div data-dojo-type="Sds/Common/Dialog" title = "Forgot Password" data-dojo-attach-point="dialogNode">
        <div>Please enter your registered user name or email. A change password link will be sent to you.</div>
        <br />
        <div class="control-group" data-dojo-attach-point="formValidatorMessage">
            <span class="help-inline" data-dojo-attach-point="inlineMessage"></span>
            <span class="help-block" data-dojo-attach-point="blockMessage"></span>
        </div>
        <div data-dojo-attach-point="containerNode"></div>
    </div>
</div>
