<div>
    <div data-dojo-type="Sds/Common/Dialog" title = "Change Password" data-dojo-attach-point="dialogNode">
        <div>Please enter username, forgot password code and your new password.</div>
        <br />
        <div class="control-group" data-dojo-attach-point="formValidatorMessage">
            <span class="help-inline" data-dojo-attach-point="inlineMessageWrapper"><small data-dojo-attach-point="inlineMessage"></small></span>
            <span class="help-block" data-dojo-attach-point="blockMessageWrapper"><small data-dojo-attach-point="blockMessage"></small></span>
        </div>
        <div data-dojo-attach-point="containerNode"></div>
    </div>
</div>
