<div>
    <div
        data-dojo-type="Sds/Common/ValidationDialog"
        title = "User registration"
        class = "form-horizontal"
        data-dojo-attach-point="dialogNode"
        data-dojo-props="validator: 'Sds/IdentityModule/Validator/CredentialMatchValidator'"
    >
        <div>Please enter your details.</div>
        <br />
        <input
            data-dojo-type="Sds/IdentityModule/DataModel/Identity/IdentityName/Input"
            data-dojo-props="validator: [
                'RequiredValidator',
                'IdentifierValidator',
                'Sds/IdentityModule/Validator/IdentityNameAvailableValidator'
            ]"
        />
        <input
            data-dojo-type="Sds/IdentityModule/DataModel/Identity/Credential/Input"
            data-dojo-props="label: 'Password:'"
        />
        <input data-dojo-type="Sds/IdentityModule/DataModel/Identity/Credential/Input"
            data-dojo-props="label: 'Password again:'"
        />
        <input data-dojo-type="Sds/IdentityModule/DataModel/Identity/Firstname/Input" />
        <input data-dojo-type="Sds/IdentityModule/DataModel/Identity/Lastname/Input" />
        <input data-dojo-type="Sds/IdentityModule/DataModel/Identity/Email/Input" />
    </div>
</div>