<div class="popover">
    <div class="arrow"></div>
    <div class="popover-inner container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="color-picker-underlay"></div>
            </div>
            <div class="span2">
                <div class="color-picker-hue"></div>
            </div>
        </div>
        <div class="row-fluid">
            <input
                class ="color-picker-hex"
                data-dojo-type="Sds/Form/TextBox"
                data-dojo-attach-point="hex"
                data-dojo-props="
                    filter: 'HexColor',
                    focusNodeClass: 'span10',
                    prepend: '#'
                "/>
        </div>
    </div>
</div>