<div class="control-group">
    <div class="controls">
        <div class="input-append">
            <input id="${id}"
                type="text"
                data-dojo-attach-point="textbox, focusNode"
            />
            <button class="btn"
                type="button"
                data-dojo-attach-point="dropdownTarget"
            >
                <i class="icon-calendar"></i>
            </button>
        </div>
        <span data-dojo-attach-point="messagesNode"></span>
    </div>
</div>