<div class="control-group">
    <div class="controls">
        <button id="${id}" 
            class="btn btn-mini dropdown-toggle" 
            data-dojo-attach-point="focusNode"
        >
            <span class="muted" data-dojo-attach-point="placeholderNode"></span>
            <span data-dojo-attach-point="selectedValue"></span>
            <span class="caret"></span>
        </button>
        <div data-dojo-type="Sds/Widget/Dropdown" data-dojo-attach-point="dropdown">
            <ul data-dojo-attach-point="optionsList">
            </ul>        
        </div>
    </div>
</div>
