<div class="control-group">
    <div class="controls input-select">
        <div class="input-append" data-dojo-attach-point="dropdownTarget">
            <input id="${id}"
                type="text"
                readonly="true"
                data-dojo-attach-point="textbox"
            />
            <button class="btn"
                type="button"
                data-dojo-attach-point="focusNode"
            >
                <span class="caret"></span>
            </button>
        </div>
        <span data-dojo-attach-point="messagesNode"></span>
    </div>
</div>
