<div class="recoverPasswordDialog">
    <div data-dojo-type="sds.Dialog" title = "'Password recovery'" data-dojo-attach-point="recoverPasswordDialogNode">
        <div class="dialogMessage">
            <div>Please enter your registered user name or email. A password recovery link will be sent to you.</div>
            <br />
            <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1">
                <input 
                    data-dojo-type="dijit.form.ValidationTextBox" 
                    name="username" 
                    title="Username:" 
                    data-dojo-props="id: 'passwordRecoveryUsername', regExp:'[a-zA-Z0-9]{3,}', required: false"        
                />
                <input 
                    data-dojo-type="dijit.form.ValidationTextBox" 
                    name="email" 
                    title="Email:" 
                    data-dojo-props="id: 'passwordRecoveryEmail', regExpGen: dojox.validate.regexp.emailAddress, required: false"
                />
            </div>          
        </div>
    </div>
</div>
