.dialogMessage
{
	width: 300px;
	height: 200px;
}

.dialogButtons
{
	height: 25px;
}

.dialogButtons span
{
	float: right;
}

.clickable
{
    cursor: pointer;
    font-weight: bold;
    text-decoration:none;
}

.clickable:hover
{
    text-decoration:underline;
}

.tableContainer-labelCell
{
    vertical-align: top;
}
