.spinnerIcon {
	background-image: url('images/spinner.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.successIcon {
	background-image: url('images/success.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.happyIcon {
	background-image: url('images/happy.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.errorIcon {
	background-image: url('images/error.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.readIcon {
	background-image: url('images/read.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.updateIcon {
	background-image: url('images/update.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.listIcon {
	background-image: url('images/list.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.firstIcon {
	background-image: url('images/first.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.lastIcon {
	background-image: url('images/last.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.nextIcon {
	background-image: url('images/next.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.previousIcon {
	background-image: url('images/previous.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.saveIcon {
	background-image: url('images/save.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}

.cancelIcon {
	background-image: url('images/cancel.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	text-align: center;
}