<div>
    <div data-dojo-type="Sds/Common/Dialog" title = "Please login" data-dojo-attach-point="dialogNode">
        <div>In order to access the requesed data you must login.</div>
        <br />
        <div data-dojo-attach-point="containerNode"></div>
        <button id="recoverPasswordButton" class="btn btn-link" data-dojo-attach-event="ondijitclick: onRecoverPassword">Recover Password</button>
        <button id="registerButton" class="btn btn-link" data-dojo-attach-event="ondijitclick: onRegister">Register</button>
    </div>
</div>
