<div class="loginDialog">
    <div data-dojo-type="Sds.Common.Dialog" title = "'Please login'" data-dojo-attach-point="loginDialogNode">
        <div class="dialogMessage">
            <div>In order to access the requesed data you must login.</div>
            <br />
            <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1">
                <input
                    data-dojo-id="loginFormDialogUsername"
                    data-dojo-type="dijit.form.ValidationTextBox"
                    name="username"
                    title="Username:"
                    data-dojo-props="pattern:'[a-zA-Z0-9]{3,}', required: true"
                />
                <input
                    data-dojo-type="dijit.form.ValidationTextBox"
                    data-dojo-props="required: true"
                    name="password"
                    type="password"
                    title="Password:"
                />
            </div>
            <div id="recoverPasswordLink" data-dojo-type="Sds.Common.JsLink" data-dojo-attach-event="onClick:_onRecoverPassword">Recover password</div>
            <div id="registerLink" data-dojo-type="Sds.Common.JsLink" data-dojo-attach-event="onClick:_onRegister">Register</div>
        </div>
    </div>
</div>
